body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

#task-container {
    width: 80%;
    max-width: 800px; 
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

table {
    border: 2px solid #ddd;
}


#task-inputs {
    margin-bottom: 20px;
    text-align: center;
}

#task-inputs input[type="text"],
#task-inputs input[type="date"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#add-task-btn {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: #45a049;
}

#task-table button {
    background-color: #ff0000;
    border: none;             
    border-radius: 10px;      
    color: white;            
    cursor: pointer;        
    padding: 5px 10px;       
    margin: 5px;              
    line-height: 1;          
    display: flex;            
    justify-content: center;  
    align-items: center;      
}

#task-table button img {
    height: 20px;  
    width: auto;   
}
